<div class="row" *ngIf="!showChart">
  Loading
</div>
<div class="row">
  {{ jiraResult.length }} items
  <google-chart
    class="chart"
    [data]="chartData"
    (chartSelect)="chartSelectHandler($event)"
  ></google-chart>
</div>

<div style="display: flex">
  <div
    id="cdk-drop-list-used"
    class="border"
    cdkDropList
    [cdkDropListData]="usedStatus"
    [cdkDropListConnectedTo]="secondList"
    #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    style="width: 50%"
  >
    <p>
      Used Status (drag and drop to reorder)
    </p>
    <div *ngFor="let status of usedStatus" class="pop" cdkDrag>
      {{ status }}
    </div>
  </div>
  <div
    id="cdk-drop-list-unused"
    class="border"
    cdkDropList
    [cdkDropListData]="unusedStatus"
    [cdkDropListConnectedTo]="firstList"
    #secondList="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    style="width: 50%"
  >
    <p>
      Not used Status
    </p>
    <div *ngFor="let status of unusedStatus" class="pop" cdkDrag>
      {{ status }}
    </div>
  </div>
</div>

<div>
  <fieldset>
    <legend>Selecting output type</legend>
    <div class="selection">
      <input
        (change)="radioChanged($event)"
        type="radio"
        name="outputType"
        id="outputDate"
        value="date"
        checked="checked"
      />
      <label for="outputDate">Date (YYYMMDD)</label>
    </div>
    <div class="selection">
      <input
        (change)="radioChanged($event)"
        type="radio"
        name="outputType"
        id="outputDateAndTime"
        value="dateandtime"
      />
      <label for="outputDateAndTime">Date (YYYMMDD HH:mm:ss)</label>
    </div>
    <div class="selection">
      <input
        type="radio"
        (change)="radioChanged($event)"
        name="outputType"
        id="outputType"
        value="time"
      />
      <label for="outputHour">Time (hours)</label>
    </div>
    <div class="selection">
      <input
        type="radio"
        (change)="radioChanged($event)"
        name="outputType"
        id="outputAll"
        value="all"
      />
      <label for="outputDateAndTime">All</label>
    </div>
    <mat-form-field>
      <mat-label>Csv file name</mat-label>
      <input matInput placeholder="Filename" [(ngModel)]="fileName" />
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      (click)="export(jiraResult)"
      [disabled]="!fileName"
    >
      Download csv file
    </button>
  </fieldset>
  <textarea cols="100" rows="12" wrap="off" readonly ref-textarea>{{
    jiraResult | arrayToCsvPipe: outputType:jiraAddress
  }}</textarea>
</div>
