<mat-toolbar color="primary">
  <span>JIRA Cloud Reports</span>

  <a mat-button href="/report">Old Version</a>
  <a mat-button href="/cycletime">Cycle Time</a>
  <a mat-button href="/export">Export</a>
  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <button mat-icon-button (click)="openSettingsDialog()">
    <mat-icon>settings</mat-icon>
  </button>

  <span *ngIf="profile">
    <button
      mat-icon-button
      [matMenuTriggerFor]="loggedMenu"
      aria-label="My profile"
    >
      <img
        md-fab-image
        [src]="profile.avatarUrls['32x32']"
        width="32"
        height="32"
      />
    </button>
    <mat-menu #loggedMenu="matMenu">
      <button mat-menu-item disabled>
        <span>{{ profile.emailAddress }}</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </span>

  <span *ngIf="!profile">
    <button
      mat-icon-button
      [matMenuTriggerFor]="loggedOutMenu"
      aria-label="Click to login"
    >
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #loggedOutMenu="matMenu">
      <button mat-menu-item (click)="login()">
        <mat-icon>launch</mat-icon>
        <span>Login</span>
      </button>
    </mat-menu>
  </span>
</mat-toolbar>
