<div>
  JIRA query
  <input
    #box
    (keyup.enter)="onEnter(box.value)"
    width="400px"
    value="{{ query }}"
  />
</div>

<div>
  <input value="{{ export }}" />
  <textarea cols="100" rows="30">{{ export }}</textarea>
</div>

<table class="table table-responsive table-condensed">
  <!-- <tr>
    <th>JIRA ticket</th>
    <th *ngFor="let res of result">{{ res.key }}</th>
  </tr> -->
  <tr *ngFor="let d of result">
    <td>{{ d.key }}</td>
    <td>{{ d.title }}</td>
    <td *ngFor="let label of statusHistory; let j = index">
      {{ d && d.data[j] | number: "1.0-2" }}
    </td>
  </tr>
  <tr>
    <td>Total</td>
    <!-- <td *ngFor="let total of chartDataTotal">
      {{ total | number: "1.0-2" }}
    </td> -->
  </tr>
</table>
